body { font-family: Arial; background:#e9f1ff; }
.container { width:800px; margin:auto; }
.card { background:white; padding:15px; margin:10px; }
.btn {
    background-color: #0d6efd;
    color: #ffffff;

    width: 170px;
    height: 45px;

    border: none;
    border-radius: 999px; 

    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-decoration: none; 
    cursor: pointer;
    font-size: 15px;

    margin: 5px 0;
}

button.btn {
    padding: 0;
}

.btn:hover {
    background-color: #0b5ed7;
}
